absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arxiv==1.4.4
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
bleach==6.1.0
blinker==1.6.2
blobfile==2.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chroma-hnswlib==0.7.3
chromadb==0.4.13
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.5
comm==0.1.2
config==0.5.1
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
-e git+ssh://git@github.com/openai/evals.git@f118fca38e3dde127d2eba44374806f581b0da1c#egg=evals
exceptiongroup==1.1.3
executing==1.2.0
fake-useragent==1.3.0
fastapi==0.103.1
fastjsonschema==2.16.3
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.10.0
fire==0.5.0
Flask==2.3.2
Flask-FlatPages==0.8.1
flatbuffers==23.5.26
fonttools==4.39.2
fqdn==1.5.1
Frozen-Flask==0.18
frozenlist==1.3.3
fsspec==2023.4.0
fuzzywuzzy==0.18.0
google-api-core==2.12.0
google-api-python-client==2.105.0
google-auth==2.16.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.61.0
gradio==3.25.0
gradio_client==0.1.2
grpcio==1.51.3
h11==0.14.0
html2text==2020.1.16
httpcore==0.17.0
httplib2==0.22.0
httptools==0.6.0
httpx==0.24.0
huggingface-hub==0.13.2
humanfriendly==10.0
idna==3.4
importlib-resources==6.1.0
install==1.3.5
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaggle==1.5.16
kiwisolver==1.4.4
langdetect==1.0.9
latex2mathml==3.75.2
Levenshtein==0.21.1
linkify-it-py==2.0.0
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
mistune==2.0.5
mock==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy==1.1.1
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
onnxruntime==1.16.0
openai==0.27.2
orjson==3.8.10
oscrypto==1.3.0
overrides==7.4.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
plotly==5.17.0
portalocker==2.7.0
posthog==3.0.2
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclip==0.7.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.6
pydub==0.25.1
Pygments==2.14.0
PyJWT==2.6.0
PyMuPDF==1.21.1
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPika==0.48.9
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.7
python-Levenshtein==0.21.1
python-markdown-math==0.8
python-multipart==0.0.6
python-slugify==8.0.1
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.1
pyzstd==0.15.4
qtconsole==5.4.1
QtPy==2.3.0
rapidfuzz==3.1.1
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
sacrebleu==2.3.1
scikit-learn==1.3.1
scipy==1.11.2
semantic-version==2.10.0
Send2Trash==1.8.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==3.0.1
soupsieve==2.4
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.3.3
timeout-decorator==0.5.0
tinycss2==1.2.1
tokenizers==0.13.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.27.1
typer==0.9.0
typing_extensions==4.5.0
uc-micro-py==1.0.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.25.11
uvicorn==0.21.1
uvloop==0.17.0
watchfiles==0.20.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.1
Werkzeug==2.3.6
widgetsnbextension==4.0.5
yarl==1.8.2
